a{
    height: 70px;
    width: 200px;
    background-color: rebeccapurple;
    color: aqua;
    display: block;
}

h1{
    padding: 10px;
    background-color: brown;
    color: bisque;
    /* display: inline; */
    display: inline-block;
}

footer >a{

    display: inline-block;
    padding: 20px;
    background-color: red;

}
h1:hover{
    /* display: none; */
    visibility: hidden;

}