nav{
    background-color: black;
    height: 75px;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;

}

.menu a{
    color: white;
    font-size: larger;
    margin-left: 20px;
    text-decoration: none;

}
.menu{
    margin-left: auto;
}