* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  background: white;
  border-radius: 15px;
  padding: 20px;
  width: 900px;
  gap: 20px;
}

.sidebar {
  background: linear-gradient(180deg, blue, blue);
  color: white;
  padding: 20px;
  border-radius: 12px;
  width: 250px;
}

.step {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.step span {
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.step.active span {
  background: white;
  color: blue;
}

.step p {
  font-size: 12px;
}

.step h4 {
  font-size: 14px;
}

.form-section {
  flex: 1;
  padding: 20px;
}

.form-section h2 {
  margin-bottom: 10px;
}

.desc {
  color: gray;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 14px;
}

input {
  padding: 10px;
  border: 1px solid white;
  border-radius: 8px;
  outline: none;
}

button {
  margin-top: 20px;
  align-self: flex-end;
  padding: 10px 20px;
  background: navy;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: navy;
}