* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 700px;
}

.contact-form {
  background:white;
  padding: 30px;
  border-radius: 12px;
}

h2 {
  margin-bottom: 20px;
}

.row {
  display: flex;
  gap: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}

.input-group label {
  margin-bottom: 5px;
  font-size: 14px;
}

input, textarea {
  padding: 10px;
  border: 1px solid sandybrown;
  border-radius: 8px;
  outline: none;
}

.radio-group {
  display: flex;
  gap: 20px;
}

.checkbox {
  margin: 15px 0;
}

button {
  width: 100%;
  padding: 12px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: green;
}